<?xml version="1.0" encoding="UTF-8"?>
<web-app id="idvalue0" metadata-complete="true" version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xml="http://www.w3.org/XML/1998/namespace" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd ">
  
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/spring/main-config.xml
		</param-value>
	</context-param>
	 <listener>
	 	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	 </listener>
	 <servlet>
	 	<display-name>Petproject Main Servlet</display-name>
	 	<servlet-name>petproject-main</servlet-name>
	 	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	<init-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/spring/mvc-config.xml
		</param-value>
	</init-param>
	 	<load-on-startup>1</load-on-startup>
	 </servlet>
	 
	 <!--servlet-mapping>
		<servlet-name>petproject-main</servlet-name>
		<url-pattern>/</url-pattern>
		<url-pattern>*.html</url-pattern>
		<url-pattern>*.xml</url-pattern>
		<url-pattern>*.json</url-pattern>
		<url-pattern>*.pdf</url-pattern>
		<url-pattern>*.xls</url-pattern>
	</servlet-mapping-->
	<servlet-mapping>
		<servlet-name>petproject-main</servlet-name>
		<url-pattern>/</url-pattern>
		<url-pattern>/web/*</url-pattern>
		<url-pattern>/user/*</url-pattern>
		<url-pattern>/group/*</url-pattern>
	</servlet-mapping>
</web-app>
